body {
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('https://img.freepik.com/premium-photo/top-view-office-desk-table-office-workplace-flat-lay-business-workspace_861973-8155.jpg') no-repeat center center fixed;
  background-size: cover;
}

.container {
  background: rgb(56, 1, 1);
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  

}

h1 {
  text-align: center;
  color: #f8f6f6;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #218838;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f9f9f9;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
  position: relative;
}

li.completed {
  text-decoration: line-through;
  color: #888;
}

li button {
  position: absolute;
  right: 10px;
  top: 12px;
  background: red;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}
